.community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.community h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    color: var(--Dark-Blue);
    margin: 2.5rem 0;
    padding-bottom: 3rem;
    /* border: 1px solid red; */

}

.community__reviews {
    width: 90%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    /* border: 1px solid red; */
    position: relative;
}

@media screen and (max-width: 750px) {
    .community h1 {
        font-size: 36px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 550px) {
    .community h1 {
        font-size: 24px;
    }
}