.cta__button {
    background-color: var(--Bright-Red);
    border: none;
    outline: none;
    color: var(--Vary-Light-Gray);
    padding: .5rem 1rem;
    border-radius: 1.2rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.cta__button:hover {
    opacity: 0.8;
}