.simplify {
    margin-top: 5rem;
    /* background-image: url(../../data/images/bg-tablet-pattern.svg); */
    background-repeat: no-repeat;
    background-color: var(--Bright-Red);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.simplify h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    max-width: 500px;
    color: var(--Vary-Light-Gray);
    margin: 2.5rem 0;
}

@media screen and (max-width: 750px) {
    .simplify {
        flex-direction: column;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 375px) {
    .simplify h1{
       font-size: 24px;
       line-height: 34px;
    }
}
