.features {
    margin: 0 6rem 2rem 2rem;
}

.features h3 {
    font-size: 20px;
    font-weight: 700;
    max-width: 400px;
    color: var(--Dark-Blue);
    text-align: left;
}

.features p {
    max-width: 300px;
    color: var(--Dark-Grayish-Blue);
    font-size: 14px;
    line-height: 24px;
    margin: 1rem 0;
}

@media screen and (max-width: 750px) {

    .features {
        margin: 0;
    }

    .features h3{
        margin-left: 0;
        background-color: var(--Very-Pale-Red);
        font-size: 18px;
        position: relative;
        padding: 5px 20px;
        left: -15px;
        top: 0px;
        z-index: -1;
        border-radius: 5px;
    }
}
@media screen and (max-width: 550px) {
       .features h3 {
        font-size: 14px;
       }

       .features p{
        font-size: 12px;
       }
}

