.about {
    margin: 2rem 4rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.about__difference h1{
    font-size: 38px;
    font-weight: 700;
    line-height: 50px;
    max-width: 450px;
    color: var(--Dark-Blue);
    margin: 2rem 0;
    text-align: left;
}

.about__difference p {
    max-width: 300px;
    color: var(--Dark-Grayish-Blue);
    font-size: 14px;
    line-height: 24px;
    margin: 1.5rem 0;
    text-align: left;

}

.about__features {
    max-width: 500px;
}

.about__features-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 900px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about__difference h1 {
        text-align: center;
    }

    .about__difference p{
        text-align: center;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 750px) {
    .about {
        margin: 0;
        padding: 1rem 0;
    }

    .about h1 {
        margin: 1rem auto;
    }
    .about__difference h1 {
        font-size: 24px;
    }

    .about__features-content {
        justify-content: center;
    }
   
}

