.manage {
    margin: 2rem 4rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.manage__content {
    padding-top: 1.5rem;
}

.manage__content h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
    max-width: 400px;
    color: var(--Dark-Blue);
    margin: 2.5rem 0;
}

.manage__content p {
    max-width: 300px;
    color: var(--Dark-Grayish-Blue);
    font-size: 14px;
    line-height: 24px;
    margin: 2rem 0;
}

.manage__graphs img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .manage__content h1 {
        font-size: 36px;
        line-height:46px ;
    }

}

@media screen and (max-width: 750px) {
    .manage {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .manage__graphs {
        order: -1;
    }

    .manage__content {
        width: 90%;
        text-align: center;
    }


}

@media screen and (max-width: 375px) {
    .manage {
       margin: 1rem;
       padding: 0;
    }
    .manage__content h1 {
        font-size: 26px;
        line-height:36px;
        
    }
    .manage__content p {
        font-size: 12px;
        line-height:20px ;
    }
}