@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
:root {

--Bright-Red: hsl(12, 88%, 59%);
--Dark-Blue: hsl(228, 39%, 23%);


--Dark-Grayish-Blue: hsl(227, 12%, 61%);
--Very-Dark-Blue: hsl(233, 12%, 13%);
--Very-Pale-Red: hsl(13, 100%, 96%);
--Vary-Light-Gray: hsl(0, 0%, 98%);

}
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-image: url('./data/images/bg-tablet-pattern.svg');
  background-color: var(--Very-Light-Gray);
  background-position: top 60% left 180%;
  background-repeat: no-repeat;
}